.itDevelopment {
  position: absolute;
  top: 8.04%;
  left: 3.97%;
  font-size: var(--font-size-base);
  line-height: 23.78px;
  font-weight: 500;
}
.magentoDeveloper,
.shopifyDeveloper {
  position: absolute;
  width: 11.1%;
  top: 73.66%;
  left: 4.79%;
  line-height: 18px;
  font-weight: 600;
  display: inline-block;
}
.magentoDeveloper {
  left: 20.68%;
}
.data,
.scientist {
  margin: 0;
}
.dataScientist,
.dotNetDeveloper,
.webflowDeveloper {
  position: absolute;
  width: 11.1%;
  top: 73.66%;
  line-height: 18px;
  font-weight: 600;
  display: inline-block;
}
.dataScientist {
  text-decoration: none;
  left: 36.58%;
  color: inherit;
}
.dotNetDeveloper,
.webflowDeveloper {
  left: 52.47%;
}
.dotNetDeveloper {
  left: 68.36%;
}
.pexelsChristinaMorillo11814Icon {
  position: absolute;
  top: 28px;
  left: 29px;
  width: 39px;
  height: 40px;
  object-fit: contain;
}
.pexelsChristinaMorillo11814Wrapper {
  position: absolute;
  height: 42.86%;
  width: 13.15%;
  top: 25.45%;
  right: 83.01%;
  bottom: 31.7%;
  left: 3.84%;
  border-radius: var(--br-55xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
}
.image244Icon,
.image244Wrapper {
  position: absolute;
  overflow: hidden;
}
.image244Icon {
  height: 40.63%;
  width: 43.75%;
  top: 30.21%;
  right: 28.13%;
  bottom: 29.17%;
  left: 28.13%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image244Wrapper {
  height: 42.86%;
  width: 13.15%;
  top: 25.45%;
  right: 51.23%;
  bottom: 31.7%;
  left: 35.62%;
  border-radius: var(--br-55xl);
  background-color: var(--color-whitesmoke-200);
}
.pexelsPuwadonSangngern13419Icon {
  position: absolute;
  top: 28px;
  left: 32px;
  width: 32px;
  height: 40px;
  object-fit: contain;
}
.pexelsPuwadonSangngern13419Wrapper {
  position: absolute;
  height: 42.86%;
  width: 13.15%;
  top: 25.45%;
  right: 67.12%;
  bottom: 31.7%;
  left: 19.73%;
  border-radius: var(--br-55xl);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
}
.image247Icon,
.image247Wrapper {
  position: absolute;
  overflow: hidden;
}
.image247Icon {
  height: 31.25%;
  width: 44.79%;
  top: 34.38%;
  right: 27.08%;
  bottom: 34.38%;
  left: 28.13%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image247Wrapper {
  height: 42.86%;
  width: 13.15%;
  top: 25.45%;
  right: 35.34%;
  bottom: 31.7%;
  left: 51.51%;
  border-radius: var(--br-55xl);
  background-color: var(--color-whitesmoke-200);
}
.image246Icon {
  position: absolute;
  top: 28px;
  left: 14px;
  width: 69px;
  height: 40px;
  object-fit: contain;
}
.frameChild,
.image246Wrapper {
  position: absolute;
  height: 42.86%;
  width: 13.15%;
  top: 25.45%;
  bottom: 31.7%;
  overflow: hidden;
}
.image246Wrapper {
  right: 19.45%;
  left: 67.4%;
  border-radius: var(--br-55xl);
  background-color: var(--color-whitesmoke-200);
}
.frameChild {
  right: 3.56%;
  left: 83.29%;
  border-radius: var(--br-11xl);
  max-width: 100%;
  max-height: 100%;
}
.itDevelopmentParent {
  position: absolute;
  top: 437px;
  left: 640px;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 730px;
  height: 224px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-poppins);
}
