@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-cabin: Cabin;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-35xl: 54px;
  --font-size-13xl: 32px;
  --font-size-24xl: 43px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-mini-9: 14.9px;
  --font-size-4xs-6: 8.6px;
  --font-size-5xs-4: 7.4px;
  --font-size-8xl-5: 27.5px;
  --font-size-xl-9: 20.9px;
  --font-size-mid: 17px;
  --font-size-3xs: 10px;
  --font-size-19xl: 38px;
  --font-size-4xl: 23px;
  --font-size-11xl: 30px;
  --font-size-sm-9: 13.9px;
  --font-size-xs-9: 11.9px;
  --font-size-2xl-8: 21.8px;
  --font-size-2xs-2: 10.2px;
  --font-size-4xs-7: 8.7px;
  --font-size-xs-7: 11.7px;
  --font-size-xs-6: 11.6px;
  --font-size-4xs-3: 8.3px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-3xs-9: 9.9px;
  --font-size-sm-3: 13.3px;
  --font-size-3xs-8: 9.8px;
  --font-size-5xs-3: 7.3px;
  --font-size-mid-5: 17.5px;
  --font-size-mini-1: 14.1px;
  --font-size-84xl-6: 103.6px;
  --font-size-12xl: 31px;
  --font-size-33xl: 52px;
  --font-size-xs: 12px;
  --font-size-15xl: 34px;
  --font-size-xl: 20px;
  --font-size-8xl: 27px;
  --font-size-mini-8: 14.8px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #817c7c;
  --color-gray-200: #292b34;
  --color-gray-300: #292933;
  --color-gray-400: #202229;
  --color-gray-500: #181818;
  --color-gray-600: rgba(24, 24, 24, 0.8);
  --color-gray-700: rgba(30, 21, 21, 0.8);
  --color-gray-800: rgba(255, 255, 255, 0.65);
  --color-gray-900: rgba(32, 34, 41, 0.8);
  --color-gray-1000: rgba(255, 255, 255, 0.8);
  --color-gainsboro-100: #e8e8e8;
  --color-gainsboro-200: #e7e7e7;
  --color-gainsboro-300: #e6e6e6;
  --color-gainsboro-400: #e2e2e2;
  --color-gainsboro-500: #dfdfdf;
  --color-darkslateblue-100: #525aa0;
  --color-darkslateblue-200: #50589f;
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #f7f7f7;
  --color-whitesmoke-300: #f3f3f3;
  --color-whitesmoke-400: #f0f0f0;
  --color-whitesmoke-500: #eee;
  --color-darkgray-100: #999;
  --color-darkgray-200: #959595;
  --color-lightgray-100: #d2d2d2;
  --color-lightgray-200: #cecece;
  --color-lightgray-300: #c9c9d7;
  --color-lightgoldenrodyellow-100: #c7f4c2;
  --color-lightgoldenrodyellow-200: #c8efc4;
  --color-cornflowerblue-100: #8ba4fd;
  --color-cornflowerblue-200: #969fef;
  --color-lavender: #edefff;
  --color-goldenrod: #ffbe2e;
  --color-slategray: #777784;
  --color-mediumslateblue: #794fec;
  --color-darkslategray: #484b50;
  --color-thistle: #d8d2ff;
  --color-seagreen: #20a67d;
  --color-khaki: #fddd8b;
  --color-honeydew: #e0f9de;
  --color-mistyrose: #ffdace;
  --color-silver-100: #c6c4c4;
  --color-silver-200: #c1c1c1;

  /* Gaps */
  --gap-mini-9: 14.9px;
  --gap-12xs: 1px;
  --gap-xl: 20px;
  --gap-2xs-9: 10.9px;
  --gap-12xs-7: 0.7px;
  --gap-8xs-1: 4.1px;
  --gap-base-6: 16.6px;
  --gap-60xl: 79px;
  --gap-25xl: 44px;
  --gap-7xs: 6px;
  --gap-8xs: 5px;
  --gap-xs: 12px;
  --gap-18xl: 37px;
  --gap-base: 16px;
  --gap-6xl: 25px;
  --gap-3xl: 22px;
  --gap-lg: 18px;

  /* Paddings */
  --padding-sm-9: 13.9px;
  --padding-mini: 15px;
  --padding-9xs-2: 3.2px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-10xs-8: 2.8px;
  --padding-8xs: 5px;
  --padding-9xs-9: 3.9px;
  --padding-9xs: 4px;
  --padding-39xl: 58px;
  --padding-121xl: 140px;
  --padding-10xl: 29px;
  --padding-6xl: 25px;
  --padding-lgi: 19px;
  --padding-9xs-6: 3.6px;
  --padding-9xs-7: 3.7px;
  --padding-9xs-5: 3.5px;
  --padding-mid: 17px;
  --padding-10xs-4: 2.4px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-10xs: 3px;
  --padding-base-3: 15.3px;
  --padding-6xs-7: 6.7px;
  --padding-4xs: 9px;
  --padding-5xl: 24px;
  --padding-lg: 18px;
  --padding-8xs-5: 4.5px;
  --padding-8xl: 27px;
  --padding-smi: 13px;
  --padding-xl: 20px;
  --padding-25xl: 44px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-base: 16px;
  --br-10xl-9: 29.9px;
  --br-xl-3: 20.3px;
  --br-xl: 20px;
  --br-sm-2: 13.2px;
  --br-12xs-9: 0.9px;
  --br-11xs-9: 1.9px;
  --br-9xs-1: 3.1px;
  --br-24xl: 43px;
  --br-41xl-4: 60.4px;
  --br-26xl-8: 45.8px;
  --br-lg-2: 18.2px;
  --br-lg-1: 18.1px;
  --br-2xl: 21px;
  --br-10xs-6: 2.6px;
  --br-11xl: 30px;
  --br-56xl-5: 75.5px;
  --br-4xs-7: 8.7px;
  --br-3xl: 22px;
  --br-5xs-9: 7.9px;
  --br-base-6: 15.6px;
  --br-4xs-3: 8.3px;
  --br-5xl-5: 24.5px;
  --br-49xl-6: 68.6px;
  --br-smi-4: 12.4px;
  --br-base-4: 16.4px;
  --br-10xs-2: 2.2px;
  --br-sm-8: 13.8px;
  --br-2xl-6: 21.6px;
  --br-5xs-3: 7.3px;
  --br-10xl-6: 29.6px;
  --br-xl-2: 20.2px;
  --br-2xl-2: 21.2px;
  --br-6xs: 7px;
  --br-24xl-9: 43.9px;
  --br-55xl: 74px;
  --br-21xl-1: 40.1px;
  --br-72xl-2: 91.2px;
}
